In [ ]:
20/0

ZeroDivisionError: division by zero

In [ ]:
try:
  a=10/0
  print(a)
except ZeroDivisionError:
  print("error:olungana value podu bro")
finally:
  print("varenda pulla")

error:olungana value podu bro
varenda pulla

In [ ]:
try:
  num=int(input("enter the number"))
  print(20/num)
except ZeroDivisionError:
  print("thapu:20 ah divide pandra number ah podu bro")
except ValueError:
  print("thiruthiko: number ah kudra vena ")
finally:
  print("varata mame")

enter the numberl
thiruthiko: number ah kudra vena
varata mame

In [ ]:
try:
  num1=int(input("enter the value :"))
  num2=int(input("enter the value :"))
  answer=(num1/num2)
  print(answer)
except(ZeroDivisionError,ValueError):
  print("thapuda thambi,mathuda thambi")

enter the value :100
enter the value :k
thapuda thambi,mathuda thambi

In [ ]:
atm=int(input("enter the value :"))
if atm>100000:
   raise ValueError("you exceed your daily limit")
else:
  print("widthdrawa your amt")

enter the value :200000

ValueError: you exceed your daily limit

In [22]:
try:
  print("s"+10)
except TypeError:
  print("error:str cannot be add to int")

error:str cannot be add to int

In [23]:
try:
  listvalue=["kural","amuthan","nishath","abi"]
  print(listvalue[7])
except IndexError:
  print("error:there is 4 index only")

error:there is 4 index only

In [26]:
try:
  num=int("seven")
  print(num)
except ValueError:
  print("error: cant convert str to int")

error: cant convert str to int

In [29]:
try:
  person={"name":"kural","age":23,"hostel":"yes"}
  print(person["kural"])
except KeyError:
  print("error: you asked the worng deatils")

error: you asked the worng deatils