In [2]:
# functions

def display():
  print("hello kural")
display()

hello kural

In [4]:
#without any parameters

def add():
  a=10
  b=78
  c=a+b
  print(c)
add()

88

In [9]:
def add():
  a=63
  b=29
  return a+b
  print(add())

In [25]:
# with parameter

def add(a,b,c,d,e,f):
  sum=a+b+c+d+e+f
  avg=sum/6
  print(sum)
  print(avg)
add(99,89,79,69,59,49)

444
74.0

In [23]:
def add(a,b,c,d,e,f,):
  total=a+b+c+d+e+f
  return total
print(add(25,76,42,2,65,4))

214

In [26]:
def add(a,b,c,d):
  print(a+b+c+d)

def sub(a,b,c,d):
  print(a-b-c-d)

def mul(a,b,c,d):
  print(a*b*c*d)

add(42,27,0,0)
sub(100,28,2,1)
mul(6,8,9,6)

69
69
2592

In [34]:
# * arguments

def display(*subject):
  print(subject)
  print(subject[0])
  print(subject[1])
  print(subject[2])
  print(subject[3])

  display("commerce","computer sci","bio","eco")

In [36]:
#key arguments

def display(a,b,c,d,e):
  print(a)
  print(b)
  print(c)
  print(d)
  print(e)
display(a="cs",b="ece",c="eee",d="mech",e="arts")

cs
ece
eee
mech
arts

In [37]:
#**keywoed argument

def display(**subject):
  print(subject)
  print(subject["a"])
  print(subject["b"])
  print(subject["c"])
  print(subject["d"])
display(a="tamil",b="english",c="math",d="science")

{'a': 'tamil', 'b': 'english', 'c': 'math', 'd': 'science'}
tamil
english
math
science

In [41]:
def display(User="vaa da vena"):
  print("vanga vilaiyaduvom :" +User)
display("kural")
display("suresh")
display()
display("nishanth")
display()

vanga vilaiyaduvom :kural
vanga vilaiyaduvom :suresh
vanga vilaiyaduvom :vaa da vena
vanga vilaiyaduvom :nishanth
vanga vilaiyaduvom :vaa da vena

In [9]:
def factorial(m):
  if m==1:
    return 1
  else:
    return m*factorial(m-1)
print(factorial(10))

3628800

In [11]:
def sum(k):
  if k==0:
    return 0
  else:
    return k+sum(k-1)
print(sum(5))

15