In [7]:
# list

check=["PBI","DA","Cse","eee","mech","aero",30000,3]
print(check)
print(type(check))
print(len(check))

['PBI', 'DA', 'Cse', 'eee', 'mech', 'aero', 30000, 3]
<class 'list'>
8

In [9]:
name=list(("kural","da",30000,3))
print(name)
print(type(name))
print(len(name))

['kural', 'da', 30000, 3]
<class 'list'>
4

In [20]:
name=["chair","ball",50,"false",500,"bus",30]

print(name[0])
print(name[3])
print(name[2])
print(name[1])
print(name[4])
print(name[5])
print(len(name))
print(name[-1])
print(name[-2])
print(name[-3])

chair
false
50
ball
500
bus
7
30
bus
500

In [1]:
check=["da","python",3000,"cs",30,"eee","kural"]
print(check[1:3])

['python', 3000]

In [5]:
check=["CS","JAVA","PYTHON","DA","FULL STOCK","EEE"]
answer=input("search the data")
if answer in check:
 print("yes")
else:
 print("no")

search the dataPYTHON
yes

In [8]:
check=["kural","murthi","suresh","lingesh","deva"]
print(check)
check[3]="nishanth"
print(check[3])
print(check)

['kural', 'murthi', 'suresh', 'lingesh', 'deva']
nishanth
['kural', 'murthi', 'suresh', 'nishanth', 'deva']

In [14]:
check=["kural","murthi","suresh","lingesh","deva"]
print(check)
check [1:3]=["jithu","kumar"]
print(check)

['kural', 'murthi', 'suresh', 'lingesh', 'deva']
['kural', 'jithu', 'kumar', 'lingesh', 'deva']

In [15]:
check=["kural","murthi","suresh","lingesh","deva"]
check.insert(3,"naan than inga")
print(check)

['kural', 'murthi', 'suresh', 'naan than inga', 'lingesh', 'deva']

In [17]:
check=["kural","murthi","suresh","lingesh","deva"]
check.append("abishek")
print(check)
check[3]="ramesh"

['kural', 'murthi', 'suresh', 'lingesh', 'deva', 'abishek']

In [19]:
A1=["kural","murthi","suresh","lingesh","deva"]
A2=[30000,40000,20,25,115,]
print(A1)
A1.extend(A2)
print(A2)

['kural', 'murthi', 'suresh', 'lingesh', 'deva']
[30000, 40000, 20, 25, 115]

In [22]:
check=["kural","murthi","suresh","lingesh","deva"]
#check.remove("lingesh")
check.pop(2)
print(check)

['kural', 'murthi', 'lingesh', 'deva']

In [24]:
check=["kural","murthi","suresh","lingesh","deva"]
for i in check:
  print(i)

kural
murthi
suresh
lingesh
deva

In [28]:
check=["kural","murthi","suresh","lingesh","deva"]

for i in range(len(check)):
  print(i," = " ,check[i])

0  =  kural
1  =  murthi
2  =  suresh
3  =  lingesh
4  =  deva

In [31]:
check=["kural","murthi","suresh","lingesh","deva","AMUTHAN","RAJECH","KA"]
#check.sort()
#check.sort(reverse=True)
check.sort(key=str.lower)
print(check)

['AMUTHAN', 'deva', 'KA', 'kural', 'lingesh', 'murthi', 'RAJECH', 'suresh']

In [45]:
K1=["kural","murthi"]
K2=[1000,2000]
#K1.extend(K2)
#answer=K1+K2
for i in K2:
  K1.append(i)

print(K1)

['kural', 'murthi', 1000, 2000]

In [47]:
check=["kural","murthi","suresh","lingesh","deva","deva","deva"]
answer=check.count("deva")
print(answer)

3