In [4]:
# matching

month=int(input("enter the month 1 to 12 "))

match month:
  case 1:
    print("jan")
  case 2:
    print("feb")
  case 3:
    print("mar")
  case 4:
    print("apr")
  case 5:
    print("may")
  case 6:
    print("june")
  case 7:
    print("jul")
  case 8:
    print("aug")
  case 9:
    print("sep")
  case 10:
    print("oct")
  case 11:
    print("nov")
  case 12:
    print("dec")
  case _:
    print("invalid month (enter the correct month)")

enter the month 1 to 12 13
invalid month (enter the correct month)

In [17]:
# looping
# while

i=1
while (i<=5):
  i+=1
  print("hello kural")

hello kural
hello kural
hello kural
hello kural
hello kural

In [33]:
i=5
while (i<=10):
# i+=5
  print(i)
  i+=5

5
10

In [32]:
i=1
while(i<=10):
  print(i,"* 7=",i*7)
  i+=1

1 * 7= 7
2 * 7= 14
3 * 7= 21
4 * 7= 28
5 * 7= 35
6 * 7= 42
7 * 7= 49
8 * 7= 56
9 * 7= 63
10 * 7= 70

In [34]:
# for looping

for i in range(1,21):
  print(i,"* 7=",i*7)

1 * 7= 7
2 * 7= 14
3 * 7= 21
4 * 7= 28
5 * 7= 35
6 * 7= 42
7 * 7= 49
8 * 7= 56
9 * 7= 63
10 * 7= 70
11 * 7= 77
12 * 7= 84
13 * 7= 91
14 * 7= 98
15 * 7= 105
16 * 7= 112
17 * 7= 119
18 * 7= 126
19 * 7= 133
20 * 7= 140

In [35]:
for i in range(1,6):
  print("hello")

hello
hello
hello
hello
hello

In [39]:
for i in range(1,11):
  if(i%2==0):
    print(i,"- even number")
  else:
    print(i,"- odd number")

1 - odd number
2 - even number
3 - odd number
4 - even number
5 - odd number
6 - even number
7 - odd number
8 - even number
9 - odd number
10 - even number

In [47]:
# pattern

for i in range(1,6):
  for j in range(1,6):
    print(i,end= " ")
  print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [48]:
for i in range(1,6):
  for j in range(1,6):
    print(j,end= " ")
  print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [50]:
for i in range(1,6):
  for j in range(1,6):
    print("&",end= " ")
  print()

& & & & &
& & & & &
& & & & &
& & & & &
& & & & &

In [62]:
for i in range (ord("a"),ord("f")):
  for j in range (ord("a"),ord("f")):
    print(chr(i),end= " ")
  print()

a a a a a
b b b b b
c c c c c
d d d d d
e e e e e

In [59]:
def square_pattern(rows):
    for i in range(rows):
        for j in range(rows):
            print(chr(65 + i), end="")
        print()

square_pattern(5)

AAAAA
BBBBB
CCCCC
DDDDD
EEEEE