In [11]:
# pattern

for i in range(5,0, -1):
  for j in range(5,0, -1):
    print(i, end=" ")
  print()

5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [13]:
for i in range(5,0,-1):
  for j in range(5,0,-1):
    print(j, end=" ")
  print()

5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [16]:
k=1
for i in range(1,6):
  for j in range(1,6):
    print(k, end=" ")
    k+=1
  print()

1 2 3 4 5
6 7 8 9 10
11 12 13 14 15
16 17 18 19 20
21 22 23 24 25

In [27]:
k=0 # k=1(odd num)
for i in range(1,6):
  for j in range(1,6):
    print(k, end=" ")
    k+=2
  print()

0 2 4 6 8
10 12 14 16 18
20 22 24 26 28
30 32 34 36 38
40 42 44 46 48

In [28]:
for i in range(97,102):
  for j in range(97,102):
    print(chr(i), end=" ")
  print()

a a a a a
b b b b b
c c c c c
d d d d d
e e e e e

In [29]:
for i in range(97,102):
  for j in range(97,102):
    print(chr(j), end=" ")
  print()

a b c d e
a b c d e
a b c d e
a b c d e
a b c d e

In [41]:
for i in range(101,96,-1):
  for j in range(101,96,-1):
    print(chr(i), end=" ")
  print()

e e e e e
d d d d d
c c c c c
b b b b b
a a a a a

In [42]:
for i in range(101,96,-1):
  for j in range(101,96,-1):
    print(chr(j), end=" ")
  print()

e d c b a
e d c b a
e d c b a
e d c b a
e d c b a

In [45]:
k=65
for i in range(1,6):
  for j in range(1,6):
    print(chr(k), end=" ")
    k+=1
  print()

A B C D E
F G H I J
K L M N O
P Q R S T
U V W X Y

In [77]:
for i in range(96,102):
  for j in range(96,i+0): #((96,i+1):its start aa,bbb,cccc,dddd)
    print(chr(i), end=" ")
  print()

a
b b
c c c
d d d d
e e e e e

In [75]:
for i in range(97,102):
  for j in range(97,i+1):
    print(chr(j), end=" ")
  print()

a
a b
a b c
a b c d
a b c d e

In [74]:
k=97
for i in range(1,6):
  for j in range(1,6):
    print(chr(k), end=" ")
    k+=1
  print()

a b c d e
f g h i j
k l m n o
p q r s t
u v w x y

In [78]:
for i in range(1,6):
  for j in range(1,i+1):
    print(i, end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [83]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j, end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [88]:
for i in range(5,0,-1):
  for j in range(1,i+1):
    print(i, end=" ")
  print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [94]:
for i in range(5,0,-1):
  for j in range(1,i+1):
    print(j, end=" ")
  print()

1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [133]:
for i in range(5,0,-1):
  for j in range(i-0):
    print(i, end=" ")
  print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1